{% extends "Problems/base.html" %}

{% block title %}
<title>Administration - {{site_name}}</title>
{% endblock %}

{% block content %}
    <h1>Administration</h1>
    
    {% if user.is_staff %}
        <h3>Create Course Elements</h3>
            <a href="{% url 'new_problem_set' %}" class="btn btn-default">New Problem Set</a>
            <a href="{% url 'new_announcement' %}" class="btn btn-default">New Announcement</a>
            <a href="{% url 'new_quiz' %}" class="btn btn-default">New Quiz</a>
            <a href="{% url 'create_exemption' %}" class="btn btn-default">New Exemption</a>

        <h3>Student Management</h3>
            <a href="{% url 'search_notes' %}" class="btn btn-default">Verify Student Note</a>
            <a href="{% url 'add_user' %}" class="btn btn-default">Add Student User</a>

        <h3>Content Management</h3>
            <a href="{% url 'upload_file' %}" class="btn btn-default">Upload File</a>
            <a href="{% url 'create_file_category' %}" class="btn btn-default">Create File Category</a>
            <a href="{% url 'edit_syllabus' %}" class="btn btn-default">Edit Syllabus</a>
    {% endif %}
        <div class="quiz-div">
            <h3>Sick Notes</h3>
            <a href="{% url 'see_notes' %}" class="btn btn-default">See Sick Notes</a>
            <a href="{% url 'upload_student_note' %}" class="btn btn-default">Upload Sick Note</a>
        </div>

        <div class="quiz-div">
            <h3>Typos</h3>
            <a href="{% url 'submit_typo' %}" class="btn btn-default">Submit Typo</a>
        </div>
{% endblock %}

{% block sidenote %}
    {% if user.is_staff %}
    <p><b>Note:</b> You are incapable of deleting problem sets. If you accidentally create a problem set,
    please contact the system administrator to have the problem set removed from the database.</p>
    {% endif %}
{% endblock %}
