{% extends 'Problems/base.html' %}

{% comment %}
    Has context {{question}} which is a String object with the question statement
    Has context {{sqr}} which is a StudentQuizResult object
    Has context {{sqrpk}} which is an integer corresponding to the StudentQuizRecord primary key
    Has context {{error_message}} which is a String with an error
    Has context {{string_answer}} which is a String with the original answer, if error-returned
{% endcomment %}

{% block title %}
    <title>{{sqr.quiz.name}}: Question {{sqr.cur_quest}}-Mat237!</title>
{% endblock %}

{% block content %}
    <h1>{{sqr.quiz.name}}: Question {{sqr.cur_quest}}</h1>

    <form method="POST" action="{% url 'display_question' sqrpk=sqrpk submit='submit'%}">{% csrf_token %}
        <div class="diff quiz-divs question-detail">
            {{question}}
            <input type="hidden" value="{{question}}" name="problem">
        </div>

        <p class="warning"> {{error_message|safe}}</p>
        <label>Your answer: </label> <input type="text" size="50" name="answer" value="{{string_answer}}">
        <input class="btn btn-default" type="submit" value="Submit" />
    </form>
{% endblock %}

{% block sidenote %}
<h4>Notes:</h4>
<ul class="diff">
     <li>You may use mathematical symbols, such as +,-,*,/ in your answer.
     <li>Exponentiation is indicated by using a**b; for example, \(2^3\) may be entered as 2**3
     <li>You may use the functions \(\sin, \cos,\tan, \ln\) in your answer.
     <li>You may use the constants pi and e for  \(\pi\)  and \(e\).
 </ul>

{% endblock %}
