{% extends 'Problems/base.html' %}
{% load navbar_inclusion_tag %}

{% comment %}
    Has element problem_set which is a db-item ProblemSet
    Has element problems which is a list of problems associated
        to problem_set. Indeed, problems=problem_set.problems
{% endcomment %}

{% block title %}
<title>Problem Sets-Mat237!</title>
{% endblock %}

{% block content %}
    <h1>{{problem_set.title}}</h1>

    <div class="ps-list">
        <ol>
        {% for prob in problems %}
        <li class="diff-{{prob.difficulty}}"> 
            <div class="ps-list-inner-left">
                {{ prob.difficulty | num2diff }}
                <a href="{% url 'question_details' pk=prob.pk %}">(Details)</a>
            </div>
            <div class="ps-list-inner-right">
                {{prob.text | safe }}
            </div>
        </li>
            (Text: <input type="checkbox" name="q-{{prob.pk}}"> &nbsp;
            Solution: <input type="checkbox" name="s-{{prob.pk}}">
            )
            {% if user.is_staff %}
            <a href="{% url 'edit_question' pk=prob.pk %}"><small>Edit</small></a>
            <a href="{% url 'delete_item' pk=prob.pk objectStr='question' %}"><small>Delete</small></a>
        {% endif %}
        <hr class="fadehr">
        {% endfor %}
        </ol>
        <p>All Text: <input type="checkbox" id="quest-all" name="quest-all"> &nbsp;
           All Solution: <input type="checkbox" id="sol-all" name="sol-all">
        </p>
    </div>

    <input type="hidden" id="problem-set" value="{{problem_set.pk}}">
{% endblock %}

{% block sidenote %}
    <p>
        The "Email Problem Set" feature is still being fine tuned. For example, some html tags are still appearing in the compiled document. Please be patient, as updates will be forthcoming.
    </p>
    {% if user.is_staff %}
        <a href="{% url 'new_question' listpk=problem_set.pk %}" class="btn btn-default">New Question</a>
    {% endif %}
{% endblock %}

{% block buttons %}
    <div class="button-div">
        <div>
        <button class="btn btn-default" id="pdflatex">Email Problem Set</button>
        </div>
        <div>
        <p id="response" class="right"></p>
        </div>
    </div>
{% endblock %}

