{% extends 'accounts/base.html' %}
{% load navbar_inclusion_tag %}

{% comment %}
    Has element problem_set which is a db-item ProblemSet
    Has element problems which is a list of problems associated
        to problem_set. Indeed, problems=problem_set.problems
    ContextProcessor provides "show_details" which is settings.SHOW_QUESTION_DETAILS
{% endcomment %}

{% block title %}
<title>Problem Sets - {{site_name}}</title>
{% endblock %}

{% block content %}
    <h1>{{problem_set.title}}</h1>

    <div class="ps-list">
        <ol>
        {% for prob in problems %}
        <li class="diff-{{prob.difficulty}}"> 
            <div class="ps-list-inner-left">
                {{ prob.difficulty | num2diff }}
                {% if show_details %}
                    <a href="{% url 'question_details' pk=prob.pk %}">(Details)</a>
                {% endif %}
                {% if prob.solution %}
                    <a href="{% url 'question_solution' question_pk=prob.pk%}">(Solution)</a>
                {% endif %}
            </div>
            <div class="ps-list-inner-right">
                {{prob.text | safe }}
            </div>
        </li>
            {% if show_details %}
                (Text: <input type="checkbox" name="q-{{prob.pk}}"> &nbsp;
                Solution: <input type="checkbox" name="s-{{prob.pk}}">
                )
            {% endif %}
            {% if user.is_staff %}
            <a href="{% url 'edit_question' pk=prob.pk %}"><small>Edit</small></a>
            <a href="{% url 'delete_item' pk=prob.pk objectStr='question' %}"><small>Delete</small></a>
        {% endif %}
        <hr class="fadehr">
        {% endfor %}
        </ol>
        {% if show_details %}
        <p>All Text: <input type="checkbox" id="quest-all" name="quest-all"> &nbsp;
           All Solution: <input type="checkbox" id="sol-all" name="sol-all">
        </p>
        {% endif %}
    </div>

    <input type="hidden" id="problem-set" value="{{problem_set.pk}}">
{% endblock %}

{% block sidenote %}
    <p>
    {% comment %} 
        The "Download Problem Set" utility should now be functional. Note that you can choose a specific collection of questions
        by checking the "Text" box in each question. In addition, if you have submitted a solution, you can include the solution
        in your pdf.
        <br>
    {% endcomment %}
        If you have selected no questions, the "Download Problem Set" button will default to sending the entire problem set, without
        any solutions.
    </p>
    {% if user.is_staff %}
        <a href="{% url 'new_question' listpk=problem_set.pk %}" class="btn btn-default">New Question</a>
    {% endif %}
{% endblock %}

{% block buttons %}
    <div class="button-div">
        <div>
        <button class="btn btn-default" id="pdflatex">Download Problem Set</button>
        </div>
        <div>
        <p id="response" class="right"></p>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    $(document).ready( function() {
        // Now deal with the button press. Harvest the selected questions and send this list
        // to the server
        // Moved this to page specific, for template rendering on url resolver
        $('#pdflatex').click(function () {
            // Check to see if the 'all' buttons have been pushed
            var ps     = $('#problem-set').val();
            var allbox = {"q": false, "a": false};
            var qbox   = [];
            if ($("#q-all").is(":checked")) {
                allbox["q"] = true;
            }
            if ($("#s-all").is(":checked")) {
                allbox["s"] = true;
            }

            $("[name^='q-']").each( function () {
                if ($(this).is(":checked")) {
                    var thisNum = $(this).attr('name').split('-')[1];
                    sol = $("[name='s-"+thisNum+"'").is(":checked");

                    qbox.push({"number": thisNum, "sol":sol});
                }
            });

            $.post("{{ajax_url}}", JSON.stringify({"all": allbox, "questions": qbox, "problem_set": ps}), 
                    function(data) {
                        window.location.replace(data);
                 //       $response = $("#response");
                 //       $response.html(data['response']);
                 //       setTimeout( function() {$response.html('') }, 2000);
                    },
            "text");
        });
    });
</script>
{% endblock %}

