{% extends 'Problems/base.html' %}
{% load navbar_inclusion_tag %}

{% comment %}
    Has element problem_set which is a db-item ProblemSet
    Has element problems which is a list of problems associated
        to problem_set. Indeed, problems=problem_set.problems
{% endcomment %}

{% block content %}
    <h1>{{problem_set.title}}</h1>

    <div class="ps-list">
        <ol>
        {% for prob in problems %}
        <li class="diff-{{prob.difficulty}}"> 
            <div class="ps-list-inner-left">
                {{ prob.difficulty | num2diff }}
                <a href="{% url 'question_details' pk=prob.pk %}">(Details)</a>
            </div>
            <div class="ps-list-inner-right">
                {{prob.text | safe }}
            </div>
        </li>
            {% if user.is_staff %}
            <a href="{% url 'edit_question' pk=prob.pk %}"><small>Edit</small></a>
            <a href="{% url 'delete_item' pk=prob.pk objectStr='question' %}"><small>Delete</small></a>
        {% endif %}
        <hr class="fadehr">
        {% endfor %}
        </ol>
    </div>
{% endblock %}

{% block buttons %}
    {% if user.is_staff %}
    <div class="button-div">
        <a href="{% url 'new_question' listpk=problem_set.pk %}" class="btn btn-default">New Question</a>
    </div>
    {% endif %}
{% endblock %}

