{% extends 'Problems/base.html' %}
{% comment %}
    Context has PollQuestion element question
{% endcomment %}

{% block content %}
    <form method="POST" action="{% url 'new_question' pollpk=question.poll.pk questionpk=question.pk %}"   > {% csrf_token %}
        <table class="form-table">
            <tbody>
                <tr>
                    <td>Question:</td>
                    <td> <textarea cols="80" rows="10" id="id_text" name="question"> </textarea></td>
                </tr>
                <tr> 
                    <td> Choice: </td>
                    <td> <input id="id_choice_0" name="choice_0" type="text" maxlength="200"></td>
                </tr>
            </tbody>
        </table>

        <button type="button" id="add-choice">Add Choice</button> <input type="submit" value="Submit" >
        <input type="hidden" name="num-choice" value="1" id="num-choice">
    </form>
{% endblock %}

{% block script %}
    <script>
        var numChoices = {{question.pollchoice_set.count}} + 1;
        $("#add-choice").click( function () {
            appendString = '<tr><td>Choice:</td><td><input id="id_choice_'+numChoices.toString()+'" name="choice_'+numChoices.toString()+'" type="text" maxlength="200"></tr>';
            $("tbody").append(appendString);
            numChoices++;
            $("#num-choice").val(numChoices.toString());
        });
    </script>
{% endblock %}

