{% extends 'accounts/base.html' %}

{% comment %}
    Context has array of LinkedDocument elements called 'docs'
    Context has array of String elements called 'cats' containing the category names
{% endcomment %}

{% block title %}
<title>Lecture Notes - {{site_name}}</title>
{% endblock %}

{% block content %}
<div class="pdf-holder">
    <object data='{{link_url}}' 
        type='application/pdf' 
        width='100%' 
        height='100%'>
        <p>This browser does not support inline PDFs. Please download the PDF to view it: <a href="{{link_url}}">Download PDF</a></p>
    </object>
</div>

<div class="typos">
    <a class="typos"href="javascript:void(0)">See typos</a>
</div>
{% endblock %}

{% block sidenote %}
    {% for cat in cats %}
        <h5><b> {{cat}} </b></h5>
        <ul>
        {% for doc in docs %}
            {% if doc.category.cat_name == cat %}
                {% if doc.is_live_now %}
                    <li><a href={{doc.doc_file.url}}>{{doc.link_name}}</a>
                    </li>
                {% else %}
                    <li class="unavailable">{{now}} 
                        <a href={{doc.doc_file.url}}>{{doc.link_name}}</a>
                        <small>(Live on {{doc.live_on}}</small>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}

{% block script %}
<script>
    $(document).ready( function() {
        $('a.typos').click ( function() {
            $.get(
                "{{ajax_url}}", 
                function (data) {
                    $('div.typos').html(data);
                    renderMathInElement( $('div.typos')[0] );
                },
                'html'
            );
        })
    });
</script>
{% endblock %}
