{% extends 'Problems/base.html' %}
{% load navbar_inclusion_tag %}
{% load staticfiles %}

{% comment %}
    Context has PollQuestion element question
    Context has list of PollChoice elements called choices 
    Context has boolean element call see_all
{% endcomment %}

{% block title %}
    <title>Poll History-Mat237!</title>
{% endblock %}

{% block content %}
    <a href="{% url 'poll_admin' pollpk=question.poll.pk %}">&#171; Return to Poll Administration</a>
    <div class="diff question-detail live-poll">
        {{question.text | safe}}
    </div>
    <select id="poll-select" class="form-control">
        <option value="-1">See All Polls</option>
        {% for k in question.num_poll|get_range %}
        <option value="{{forloop.counter}}" {% if poll_num == forloop.counter %}selected="selected"{% endif %}>Poll {{forloop.counter}}</option>
        {% endfor %}
    </select>

    {% if poll_num == -1 %}
        <div class="diff multiplechoice">
            {% for choice in question|filter_poll_choice %}
            <button class="btn btn-primary" id="button_{{choice.pk}}">{{forloop.counter}}</button> 
            <p>{{choice.text}}</p> 
            <br>
            {% endfor %}
        </div>

        {% for k in question.num_poll|get_range %}
            <div class="h-bar-graph">
                {% total_votes question.pk forloop.counter as this_votes %}
                {% for choice in question|filter_poll_choice:forloop.counter %}
                <div style="overflow: hidden; margin: 10px 0 10px 0;">
                    <div style="width:30px; float:left">{{forloop.counter}}.</div>
                    {% score_div choice.num_votes this_votes %}
                </div>
                {% endfor %}
            </div>
            <hr class="fadehr">
        {% endfor %}
    {% else %}
        <dl>
            {% for choice in choices %}
            <dt class="diff">{{choice.text}}</dt>
            <dd>{% score_div choice.num_votes votes %}</dd>
            <br>
            <hr class="fadehr">
            {% endfor %}
        </dl>
    {% endif %}

{% endblock %}

{% block script %}
    <script>
        var question = {{question.pk}};
        $(document).ready( function() {
            $("#poll-select").change( function() {
                poll_number = $(this).val();
                window.location.replace("/history/"+{{question.pk}}+"/"+poll_number+"/");
            });
        });
    </script>
{% endblock %}
