{% extends 'Problems/base.html' %}
{% load navbar_inclusion_tag %}
{% load staticfiles %}

{% comment %}
    Context contains Poll element called poll.
    Context contains PollQuestion element called questions (filtered by order).
{% endcomment %}

{% block title %}
<title>Poll Administration-Mat237!</title>
{% endblock %}

{% block content %}
    <h1> {{poll.title}} Administration </h1>
    <a href="{% url 'polls' %}">&#171; Return to Polls</a>
    <a href="{% url 'live_poll' %}" class="btn btn-default">Live Poll</a>

    {% for question in questions %}
    <div id="global-{{question.pk}}">
        <div class="row div-{{question.pk}}" {% if question.can_vote %}style="background-color: #c2c2c2"{% endif %}>
            <div class="poll-title col-md-6">
                <p class="diff">{{question.text| safe}}</p>
                <small> <a href="{% url 'edit_pollquestion' questionpk=question.pk %}">Edit</a> <a href="{% url 'delete_item' pk=question.pk objectStr='pollquestion' %}">Delete</a> <a href=javascript:void(0) id="open-{{question.pk}}">Choices</a></small>
            </div>
            {% if user.is_staff %}
            <div class = "col-md-4" style="padding:0">
                Slide: <input type="checkbox" id="check_{{question.pk}}" {% if question.live %}checked{% endif %}>
                <button class="btn btn-success" id="start_{{question.pk}}">Start</button> <button class="btn btn-danger" id="stop_{{question.pk}}"> Stop</button> <button class="btn btn-default" id ="reset_{{question.pk}}"> Reset </button>
                <p id="response_{{question.pk}}"></p>
            </div>
            <div class = "col-md-2">
                <div id="arrow-up-{{question.pk}}" class="arrow">&#x25B2;</div>
                <div id="arrow-down-{{question.pk}}" class="arrow">&#x25BC;</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" id="{{question.pk}}-choices" style="display:none"> 
                <ol>
                {% for choice in question|filter_poll_choice %}
                    <li><p class="diff">{{choice.text}}</p>
                {% endfor %}
                </ol>
            </div>
        </div>
        <hr class="fadehr">
    </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block sidenote %}
    <ul>
        <li> The `Live' checkbox makes the question available to students.
        <li> Use the 'Start' button to push the question to the live-poll page and open voting.
        <li> Use the 'Stop' button to stop voting and display results.
        <li> The 'Reset' button clears the current poll results and resets votes to zero. The data from the
             previous vote is preserved.
    </ul>
    <div class="button-div">
        <a href="{% url 'new_pollquestion' pollpk=poll.pk %}" class="btn btn-default">New Question</a>
    </div>
{% endblock %}

{% block buttons %}
    <div class="button-div">
        <button class="btn btn-default old-ann" id="endall_-1">End Polling</button>
    </div>
{% endblock %}

{% block script %}
    <script src={% static "javascript/admin.js" %}></script>
{% endblock %}
