{% extends 'Problems/base.html' %}
{% load staticfiles %}

{% comment %}
    Context contains Poll element called poll.
{% endcomment %}

{% block content %}
    <h1> {{poll.title}} Administration </h1>

    {% for question in poll.pollquestion_set.all %}
        <div class="row">
            <div class="poll-title col-md-6">
                <p class="diff">{{question.text}}</p>
                <small> <a href="{% url 'edit_pollquestion' questionpk=question.pk %}">Edit</a> <a href="{% url 'delete_item' pk=question.pk objectStr='pollquestion' %}">Delete</a></small>
            </div>
            {% if user.is_staff %}
            <div class = "col-md-6">
                Live: <input type="checkbox" id="check_{{question.pk}}" {% if question.live %}checked{% endif %}>
                <button class="btn btn-success" id="start_{{question.pk}}">Start</button> <button class="btn btn-danger" id="stop_{{question.pk}}"> Stop</button> <button class="btn btn-default" id ="reset_{{question.pk}}"> Reset </button>
                <p id="response_{{question.pk}}"></p>
            </div>
        </div>
        {% endif %}
        <hr class="fadehr">
    {% endfor %}

{% endblock %}

{% block sidenote %}
    <ul>
        <li> The `Live' checkbox makes the question available to students.
        <li> Use the 'Start' button to push the question to the live-poll page and open voting.
        <li> Use the 'Stop' button to stop voting and display results.
        <li> The 'Reset' button clears the current poll results and resets votes to zero. The data from the
             previous vote is preserved.
    </ul>
{% endblock %}

{% block buttons %}
    <div class="button-div">
        <a href="{% url 'new_question' pollpk=poll.pk %}" class="btn btn-default">New Question</a>
        <button class="btn btn-default old-ann" id="endall_-1">End Polling</button>
    </div>
{% endblock %}

{% block script %}
    <script src={% static "javascript/admin.js" %}></script>
{% endblock %}
