{% extends 'Problems/base.html' %}

{% block title %}
<title>Question Details-Mat237!</title>
{% endblock %}

{% block content %}
    <a href="{% url 'list_problem_set' pk=problem.problem_set.pk %}">&#171; Return to {{problem.problem_set.title}}</a>

    <div class="diff question-detail">
        {{ problem.text | safe}}
    </div>

    <div class="question-stats">
        <h4>Your status:</h4>
        <form class="ajax-form">
            <p>Attempted: <input type="checkbox" id="attempted" name="attempted" {% if status.attempt %}checked{% endif %}></p> 
            <p>Solved: <input type="checkbox" id="solved" name="solved" {% if status.solved %}checked{% endif %}> </p> 
            <p> Difficulty: <input type="number" min=1 max=10 id="difficulty" name="difficulty" value="{% if status.difficulty %}{{status.difficulty}}{% else %}1{% endif %}">
            <input type = "hidden" id="user" value="{{user.pk}}">
            <input type = "hidden" id="question" value="{{problem.pk}}">
        </form>
        <p id="response"></p>
    </div>

    <div class="question-stats">
        <h4>Question Statistics:</h4>
        <p> Attempted: {{problem.attempts}}&#37; </p> <p> Solved: {{problem.solved}}&#37; </p> <p> Average Difficulty: {{problem.stud_diff}} /10 </p>
    </div>

    <div>
        <h4> Your solution.</h4>
        <div class="diff student-solution">
            {% if status.solution == '' %}
                <p>You have not submitted a solution.</p>
            {% else %}
                {{ status.solution | linebreaks }}
            {% endif %}
        </div>
    </div>

    <div class="solution-form">
        <p>Edit your solution below. </p>
        <form method="POST"> {% csrf_token %}
            <textarea class="question-solution" name="solution">{{status.solution}} </textarea>
            <button type='submit' class="btn btn-default">Save Solution</button>
        </form>
    </div>

{% endblock %}

{% block sidenote %}
        <ul>
            <li>
                Questions statistics are updated daily at 3:00am. 
            </li>
            <li>
                The attempt and solved statistics are based off
                total class enrollment, while the average difficulty is only based on users who have submitted
                a difficulty.
            </li>
            <hr> 
            <li> Mathematics should be writtin LaTeX, surrounded by escaped parantheses. For example, 
            <br> <code>\( \sum_{k=1}^\infty \frac1{k^2} = \frac{\pi^2}{6} \)</code><br> 
            will look like
            <div class="diff">
                \( \sum_{k=1}^\infty \frac1{k^2} = \frac{\pi^2}{6} \)
            </div>
        </ul>
{% endblock %}
