{% extends 'accounts/base.html' %}

{% comment %}
    Has context "return_html" which is a string containing the problems/answers
    Has context "sqr" which is StudentQuizResult
{% endcomment %}

{% block title %}
    <title>Quiz Details - {{site_name}}</title>
{% endblock %}

{% block content %}

    <h1>{{sqr.quiz.name}}</h1>
    <a href="{% url 'quizzes' %}">&#171; Return to Quizzes</a>
    
    {{return_html | safe}}
{% endblock %}

{% block script %}
    {% if request.user.is_staff %}
        <script>
            $(document).ready( function() {
                $('.change_mark').click( function() {
                    $par = $(this).parent();
                    qnum = $(this).attr('data-id');
                    $.post('{% url "change_mark" %}',
                        {qnum: qnum, sqr_pk: {{sqr.pk}} },
                        function (data) {
                            //If successful, reload the page
                            if (data['result'] == 'success') {
                                // If Incorrect
                                if ($par.css('color')=='rgb(255, 0, 0)') {
                                    $par.css('color', 'green');
                                    $par.children(".text").html('Correct')
                                } else { //Correct
                                    $par.css('color', 'red');
                                    $par.children(".text").html('Incorrect')
                                }
                            } else {
                                alert(data['response']);
                            }
                        },
                        "json"
                    );
                });
            });
        </script>
    {% endif %}
{% endblock %}
