.page-header {
    width: 80%;
    background-color: #e6e6e6;
    margin: 10px 0px 0px 30px;
}

h1 a {
    padding-left: 20px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 12pt;
    margin-right: 20px;
}

.dropdown-menu li:hover {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display:block;
}

.button-div {
    width: 80%;
}

.button-div a {
    margin: 10px 0px 50px 0px;
    float: right;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.form-table {
    margin-top: 40px;
    width: 100%;
}

ul li a.active, ul li a.active:hover, ul li a.active:focus {
    background-color: #1a75ff;
    border-radius: 20px;
    color: #e6f0ff;
}

.form-table td {
    padding-bottom: 10px;
}

.announcement {
    margin-top: 10px;
    box-shadow: 2px 2px 5px black;
}

.ann-title {
    position: relative;
}

.ann-title div h4 {
    padding-left: 10px;
}

.ann-title div small {
    position: absolute;
    top: 10px;
    float: right;
}

.ann-text {
    padding-left: 20px;
    padding-right: 20px;
}

.ann-text div p {
    text-align: justify;
}

.ann-author div p {
    text-align: right;
    color: grey;
    font-size: 10pt;
    padding-right: 10px;
}

.clearfix::after, .clearfix::before {
    content: "";
    display: block;
    height: 1px;
    clear: both;
    visibility: hidden;
}

.fadehr {
     border: 0;
     border-bottom: 1px dashed #ccc;
     background: #999;
     margin: 5px 0 5px 0;
}

.ps-list ol { 
    font-family:Georgia, Times, serif; 
    font-size:24px; 
    color:black;  
}

.ps-list ol li { }

.ps-list ol li p { 
    padding:8px; 
    font-style:normal; 
    font-family:Arial; 
    font-size:13px; 
    color:black; 
    border-left: 1px solid #999; 
}

.ps-list-inner-left {
    font-size: 10pt;
    color: #a3c2c2;
}

.ps-list-inner-left a {
    font-size: 8pt;
}

.ps-list-inner-right p {
    min-height: 50px;
    margin: 0;
}

.question-detail {
    margin: 20px 0 20px 0;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #a3c2c2;
}

.question-stats {
    text-align: center;
}

.question-stats p {
    padding: 0 30px 0 30px;
    display: inline-block;
}

.question-solution {
    width: 100%;
    height: 200px;
}

form button {
    float: right;
}

.student-solution{
    border-style: dashed;
    border-width: 1px;
    border-color: #b3d1ff;
    border-radius: 5px;
    min-height: 50px;
}

.student-solution p {
    padding: 10px;
}

.solution-form{
    margin-top: 40px;
}

#response {
    color: red;
}

#id_text {
    width: 100%;
}

.sticky {
    background-color: #ff9999;
}

.delete-form {
    display: inline;
}

.warning {
    padding: 10px;
    color: red;
}
